canvas {
    width:800px;
    height:800px;
    border:5px solid black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-option {
    width:50px;
    height: 50px;
    cursor: pointer;
}